ReferrerPolicyTestCase(
  {
    "referrer_policy": %(referrer_policy_json)s,
    "delivery_method": "%(delivery_method)s",
    "redirection": "%(redirection)s",
    "origin": "%(origin)s",
    "source_protocol": "%(source_protocol)s",
    "target_protocol": "%(target_protocol)s",
    "subresource": "%(subresource)s",
    "subresource_path": "%(subresource_path)s",
    "referrer_url": "%(referrer_url)s"
  },
  document.querySelector("meta[name=assert]").content,
  new SanityChecker()
).start();
