mypy==0.961
mypy-extensions==0.4.3
toml==0.10.2
typed-ast==1.5.4
types-atomicwrites==1.4.5
types-python-dateutil==2.8.19
types-PyYAML==6.0.9
types-requests==2.27.29
types-setuptools==63.2.3
types-six==1.16.19
types-ujson==4.2.1
typing-extensions==4.1.1
