h2 {
  font-weight: bold;
  margin-bottom: 10px;
}

.site-logo {
  max-width: 300px;
  margin-bottom: 30px;
  margin-left: -15px;
}

.page-description {
  max-width: 700px;
  margin-top: 50px;
}

.field-controls {
  padding-top: 25px;
}

#api-controls {
  margin-top: 15px;
  max-width: 850px;
}

#select-none {
  margin-right: 25px;
}

.test-count-container {
  vertical-align: sub;
  margin-left: 10px;
}

.section-heading {
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 0;
  font-weight: bold;
}

.button-group {
  margin-top: 30px;
}

.mb-1 {
  margin-bottom: 10px;
}

.form-group {
  display: inline-block;
}

.form-group--offset {
  margin-left: 25px;
}

.filter-group {
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 20px;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
}

.focused {
  /* box-shadow: inset -3px -3px 0 red, inset 3px 3px 0 red; */
}

.focused:after {
  display: block;
  position: absolute;
  border: solid 3px red;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.button.is-light.is-focused:not(:active),
.button.is-light:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(0, 0, 0, 0.2);
}

.button.is-info.is-focused:not(:active),
.button.is-info:focus:not(:active) {
  box-shadow: 0 0 0 0.125em rgba(50, 115, 220, 0.25);
}

@media screen and (min-width: 560px) {
  #api-controls {
    columns: 2;
  }
}

@media screen and (min-width: 780px) {
  #api-controls {
    columns: 3;
  }
}
