.a { color: green; }
.b { color: red; }
.c { color: red; }
.d { color: red; }
.e { color: red; }
.f { color: red; }
.g { color: red; }
.h { color: red; }
.i { color: red; }
.j { color: red; }
.k { color: red; }
.l { color: red; }
.m { color: red; }
.n { color: red; }
.o { color: red; }
.p { color: red; }
.q { color: red; }
.r { color: red; }
