<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<base href="resource://pdfjs/web/">
<link rel="stylesheet" href="resource://pdfjs/web/viewer.css">
<title>PDF Viewer</title>
</head>
<body>
<div id="outerContainer">
  <div id="mainContainer">
    <div id="viewerContainer" tabindex="0">
      <div id="viewer" class="pdfViewer"></div>
    </div>
  </div>
</div>
<script src="resource://pdfjs/build/pdf.mjs" type="module"></script>
<script src="resource://pdfjs/web/viewer.mjs" type="module"></script>
</body>
</html>
