/.servo
/.cargo/*
!/.cargo/config.*
/.servobuild
/.wpt
/.vs
/android-toolchains
/target
/ports/android/bin
/ports/android/libs
/ports/android/local.properties
/ports/android/obj
/python/_virtualenv
/python/tidy/servo_tidy.egg-info
/tests/wpt/sync
*~
*.pkl
*.pyc
*.swp
*.swo
*.csv
*.rej
*.orig
.coverage
.DS_Store
Servo.app
.config.mk.last
/glfw
capture_webrender/
/screenshots
# Editors

# IntelliJ
.idea
*.iws
*.iml

#Gradle
.gradle

# VSCode
.vscode
!/.vscode

/unminified-js

# Hololens artifacts

support/hololens/x64/
support/hololens/ARM/
support/hololens/ARM64/
support/hololens/ServoApp/x64/
support/hololens/ServoApp/ARM/
support/hololens/ServoApp/ARM64/
support/hololens/ServoApp/Generated\ Files
support/hololens/ServoApp/BundleArtifacts/
support/hololens/ServoApp/support/

# Ignore thumbnails created by Windows
support/hololens/ServoApp/Thumbs.db

# Ignore files built by Visual Studio
support/hololens/ServoApp/*.obj
support/hololens/ServoApp/*.exe
support/hololens/ServoApp/*.pdb
support/hololens/ServoApp/*.user
support/hololens/ServoApp/*.aps
support/hololens/ServoApp/*.pch
support/hololens/ServoApp/*.vspscc
support/hololens/ServoApp/*_i.c
support/hololens/ServoApp/*_p.c
support/hololens/ServoApp/*.ncb
support/hololens/ServoApp/*.suo
support/hololens/ServoApp/*.tlb
support/hololens/ServoApp/*.tlh
support/hololens/ServoApp/*.bak
support/hololens/ServoApp/*.cache
support/hololens/ServoApp/*.ilk
support/hololens/ServoApp/*.log
support/hololens/ServoApp/[Bb]in
support/hololens/ServoApp/[Dd]ebug*/
support/hololens/ServoApp/*.lib
support/hololens/ServoApp/*.sbr
support/hololens/ServoApp/obj/
support/hololens/ServoApp/[Rr]elease*/
support/hololens/ServoApp/_ReSharper*/
support/hololens/ServoApp/[Tt]est[Rr]esult*
support/hololens/.vs/

# Nuget packages folder
support/hololens/packages/
