[submodule "support/glfw-rs"]
	path = support/glfw-rs
	url = https://github.com/servo/glfw-rs.git
[submodule "tests/wpt/web-platform-tests"]
	path = tests/wpt/web-platform-tests
	url = https://github.com/servo/web-platform-tests.git
