Achal Shah <achals@gmail.com> <achal@uber.com>
Adenilson Cavalcanti <cavalcantii@gmail.com> <a.cavalcanti@samsung.com>
Adenilson Cavalcanti <cavalcantii@gmail.com> <a.cavalcanti@sisa.samsung.com>
Adrian Heine <mail@adrianheine.de>
Agoston Szepessy <agszepp@gmail.com>
Alexander Popiak <alex@zenguard.org> <alexander.popiak@gmail.com>
Alexandrov Sergey <splavgm@gmail.com>
Antonio de Luna <tonydelun@gmail.com>
Askeing Yen (fyen) <askeing@gmail.com>
Attila Dusnoki <dati91@gmail.com> <dati91@users.noreply.github.com>
bd339 <bd339@tuta.io> <bd339@localhost.localdomain>
Beomjin Kim <beomjin.kim@lge.com> <memory128m@gmail.com>
Bogdan Cuza <bogdan.cuza@hotmail.com> <boghison22@gmail.com>
bors-servo <release+servo@mozilla.com> <lbergstrom+bors@mozilla.com>
bors-servo <release+servo@mozilla.com> <metajack+bors@gmail.com>
Brian Anderson <banderson@mozilla.com> <andersrb@gmail.com>
Brian J. Burg <burg@cs.washington.edu>
Clark Gaebel <cgaebel@mozilla.com> <cg.wowus.cg@gmail.com>
Clark Gaebel <cgaebel@mozilla.com> <cgaebel@uwaterloo.ca>
Connor Brewster <connor.brewster@eagles.oc.edu> <brewsterc@my.caspercollege.edu>
Daniel Robertson <dan.robertson@anidata.org> <danlrobertson89@gmail.com>
Daniel Robertson <dan.robertson@anidata.org> <drobertson@tripwire.com>
David Raifaizen <d-raif@hotmail.com> David Raifaizen <whoknows>
Dirkjan Ochtman <dirkjan@ochtman.nl> <d.ochtman@activevideo.com>
edunham <edunham@mozilla.com> <github@edunham.net>
Emilio Cobos Álvarez <emilio@crisal.io> <ecoal95@gmail.com>
Emilio Cobos Álvarez <emilio@crisal.io> <me@emiliocobos.me>
Felipe Lacerda <fegolac@gmail.com>
Glenn Watson <gw@intuitionlibrary.com> <github@intuitionlibrary.com>
Glenn Watson <gw@intuitionlibrary.com> <glennw@users.noreply.github.com>
Gregory Szorc <gps@mozilla.com> <gregory.szorc@gmail.com>
Gregory Terzian <gterzian@users.noreply.github.com>
Guillaume Gomez <guillaume1.gomez@gmail.com>
hgentry <harrison@gentryville.net> <harrison.c.gentry@gmail.com>
Hugo Thiessard <hugo.thiessard@etu.u-bordeaux.fr> <hugo.thiessard@opmbx.org>
HyunJune Kim <hyunjune.kim@samsung.com> <hykim0777@gmail.com>
Ilyong Cho <ilyoan@gmail.com>
Jacob Parker <j3parker@csclub.uwaterloo.ca> <j@cob.xxx>
James Graham <james@hoppipolla.co.uk>
Jansen Jan <farodin91@sek-server.de> <farodin91@googlemail.com>
Jason Williams <jase.williams@gmail.com>
Jason Williams <jase.williams@gmail.com> <Jayflux@users.noreply.github.com>
Jason Williams <jase.williams@gmail.com> <willij87@mc-s083267.local>
Jinwoo Ahn <jinwoo.ahn@lge.com>
JJ Weber <jjweber@gmail.com>
Junyoung Cho <june0.cho@samsung.com>
Junyoung Cho <june0.cho@samsung.com> <jun0cho@gmail.com>
Kamil Muszyński <muszynski.kamil@gmail.com> <KamilM1@verifone.com>
Keegan McAllister <kmcallister@mozilla.com> <mcallister.keegan@gmail.com>
Kuba Birecki <kuba.birecki@crystalplanet.io> <kuba.birecki@crystalplanet-studio.com>
Lars Bergstrom <lars@lars.com> <larsberg@mozilla.com>
Lars Bergstrom <lars@lars.com> <lbergstrom@mozilla.com>
Luqman Aden <me@luqman.ca> <laden@csclub.uwaterloo.ca>
Manish Goregaokar <manishsmail@gmail.com> <Manishearth@users.noreply.github.com>
Margaret Meyerhofer <mmeyerhofer@mozilla.com> <mmeyerho@andrew>
Martin Robinson <mrobinson@igalia.com> <martin.james.robinson@gmail.com>
Mike Blumenkrantz <zmike@osg.samsung.com> <i@zmike.ninja>
Mike Blumenkrantz <zmike@osg.samsung.com> <michael.blumenkrantz@gmail.com>
Mike Blumenkrantz <zmike@osg.samsung.com> <zmike@samsung.com>
Ms2ger <Ms2ger@gmail.com> <ms2ger@gmail.com>
Nicholas Nethercote <nnethercote@mozilla.com> <n.nethercote@gmail.com>
Nicolas <ashlebede@gmail.com>
patrick kim <ksh8281@gmail.com>
Patrick Trottier <patrick.arrow206@outlook.com> <ptrottier@localhost.localdomain>
Per Lundberg <perlun@gmail.com> <per.lundberg@ecraft.com>
Pierre Louis Aublin <pierre-louis.aublin@inria.fr> <pierrelouis.aublin@gmail.com>
Prabhjyot Singh Sodhi <prabhjyotsingh95@gmail.com> <prabhyotsingh95@gmail.com>
Ravi Shankar <wafflespeanut@gmail.com>
Rohan Prinja <rohan.prinja@gmail.com> <rohan.prinja@samsung.com>
Rohan Prinja <rohan.prinja@gmail.com> <rohan@cs.unc.edu>
Rohit Zambre <rzambre@uci.edu> <RZ13@dhcp-v007-158.mobile.uci.edu>
Rohit Zambre <rzambre@uci.edu> <RZ13@dhcp-v058-081.mobile.uci.edu>
Roman Klauke <romaaan.git@gmail.com> <romankl@users.noreply.github.com>
rwakulszowa <rwakulszowa1@gmail.com> <rwa@localhost.localdomain>
rwakulszowa <rwakulszowa1@gmail.com> <zajactomasz1@yahoo.com>
Seth Fowler <seth@mozilla.com> <mark.seth.fowler@gmail.com>
Shing Lyu <shing.lyu@gmail.com> <slyu@mozilla.com>
Stephen (Ziyun) Li <stephen.liziyun@gmail.com> <stephen.li@D2L.com>
Tamir Duberstein <tamird@gmail.com> <tamird@squareup.com>
Tetsuharu OHZEKI <saneyuki.snyk@gmail.com> <saneyuki.s.snyk@gmail.com>
Thiago Pontes <github@thiago.me> <email@thiago.me>
Thiago Pontes <github@thiago.me> <thiagopnts@gmail.com>
Tim Kuehn <tkuehn@cmu.edu>
Tim Kuehn <tkuehn@cmu.edu> <tkuehn@host-7-125.mv.mozilla.com>
Valentin Fokin <fokinv@inf.u-szeged.hu>
Valentin Fokin <fokinv@inf.u-szeged.hu> <fokin.valentin@stud.u-szeged.hu>
Valentin Fokin <fokinv@inf.u-szeged.hu> <fokinvalen@gmail.com>
Xidorn Quan <me@upsuper.org> <github@upsuper.org>
Ying-Ruei Liang (KK) <thumbd03803@gmail.com>
Yongjin Kim <aydin.kim@samsung.com>
Yongjin Kim <aydin.kim@samsung.com> <aydin.kim@servo64.(none)>
Young-il Choi <duddlf.choi@samsung.com>
Youngmin Yoo <youngmin.yoo@samsung.com>
Zakor Gyula <zakorgy@inf.u-szeged.hu>
Zakor Gyula <zakorgy@inf.u-szeged.hu> <gyula.zakor@gmail.com>
