# Tool options
[tools]
# Where Rust compiler snapshots and other downloads will be stored.  Can be
# shared by multiple Servo reposities.  Defaults to <servo-repo>/.servo
cache-dir = "~/.servo"
# If system-rust is true, will use rustc/rustdoc from the path, or if
# rust-root is specified, will make sure that rust-root is in the path
# when building. Similarly for Cargo. This takes care of PATH as well as
# [DY]LD_LIBRARY_PATH.
system-rust = false
rust-root = "/path/to/rust"
system-cargo = false
cargo-root = "/path/to/cargo"

[build]
# Set "android = true" or use `mach build --android` to build the Android app.
android = false
# Set "debug-mozjs" or use `mach build --debug-mozjs` to build a debug spidermonkey.
debug-mozjs = false

# Android information
[android]
sdk = "/opt/android-sdk"
ndk = "/opt/android-ndk"
toolchain = "/opt/android-toolchain"
