# Copy this file to .servobuild in the Servo root directory
# Be sure to set the cache-dir correctly, otherwise extra
# copies of the Rust compiler may get downloaded

# Paths starting with "./" are relative to the repo root

# Tool options
[tools]
# If use-rustup is set to false, mach will run for example "cargo build"
# instead of "rustup run --install <toolchain> cargo build"
# It is then the user’s responsibility to ensure that cargo and especially rustc
# in $PATH are versions compatible with Servo.
use-rustup = true

# If rustc-with-gold is true, will try to find and use gold linker with rustc.
# Defaults to true
rustc-with-gold = true

# If uncommented, this command is used instead of the platform’s default
# to notify at the end of a compilation that took a long time.
# This is the name or path of an executable called with two arguments:
# the summary and content of the notification.
#notify-command = "notify-send"

[build]
# Set "mode = dev" or use `mach build --dev` to build the project with warning.
# or Set "mode = release" or use `mach build --release` for optimized build.
# Defaults to prompting before building
#mode = "dev"

# Set "android = true" or use `mach build --android` to build the Android app.
android = false

# Set "debug-mozjs" or use `mach build --debug-mozjs` to build a debug spidermonkey.
debug-mozjs = false

# Set to the path to your ccache binary to enable caching of compiler outputs
#ccache = "/usr/local/bin/ccache"

# Any optional flags that will be added to $RUSTFLAGS
#rustflags = ""

# Enable rustc’s incremental compilation
#incremental = false

# Whether to use ThinLTO or not
#thinlto = false

# Android information
[android]
# Defaults to the value of $ANDROID_SDK, $ANDROID_NDK, $ANDROID_TOOLCHAIN, $ANDROID_PLATFORM respectively
#sdk = "/opt/android-sdk"
#ndk = "/opt/android-ndk"
#toolchain = "/opt/android-toolchain"
#platform = "android-18"
