.g { color: green; }
.h { color: red; }
.i { color: red; }
.j { color: red; }
.k { color: red; }
.l { color: red; }
.m { color: red; }
.n { color: red; }
.o { color: red; }
.p { color: red; }
.q { color: red; }
.r { color: red; }
