html5lib==1.1
mozdebug==0.3.0
mozinfo==1.2.3  # https://bugzilla.mozilla.org/show_bug.cgi?id=1621226
mozlog==8.0.0
mozprocess==1.3.1
packaging==23.1
pillow==9.5.0
requests==2.31.0
six==1.16.0
urllib3==2.0.5
