root, document, info, section {
	display: block;
}

root {
	background: white;
	color: black;
}

document {
	margin: 0.5em;
}

info {
	margin: 1em 0;
}

section {
	font-weight: bold;
	text-align: center;
}

section[id="container"] {
	width: 300px;
	position: relative;
}

section[id="top"] {
	background-color: black;
	color: white;
}

section[id="left"],
section[id="center"],
section[id="right"] {
	width: 100px;
	height: 100px;
	position: absolute;
	line-height: 100px;
}

section[id="left"] {
	top: auto;
	left: 0;
	background-color: silver;
}

section[id="center"] {
	top: auto;
	left: 100px;
	background-color: fuchsia;
}

section[id="right"] {
	top: auto;
	right: 0;
	background-color: lime;
}