root, document, info, navigation, item, link {
	display: block;
}

root, document {
	background: #fff;
	color: #000;
}

info {
	margin: 0.5em;
}

navigation[type="dropdown"] {
	width: 100%;
	height: 1.4em;
	background: #000;
	color: #fff;
}

navigation[type="dropdown"] > item {
	float: left;
	height: 100%;
	width: 20%;
	margin: 0 0.5em;
	position: relative;
}

navigation[type="dropdown"] > item > link {
	width: 100%;
	height: 1.4em;
	line-height: 1.4em;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
}

navigation[type="dropdown"] > item > link:hover {
	background: #c00;
}


navigation[type="sub-menu"] {
	width: 100%;
	background: #000;
	color: #fff;
	position: absolute;
	top: -1000em;
}

navigation[type="sub-menu"] > item {
	width: 100%;
	height: 1.4em;
}

navigation[type="sub-menu"] > item > link {
	height: 100%;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	border-bottom: 1px solid #fff;
	line-height: 1.4em;
}

navigation[type="sub-menu"] > item > link:hover {
	background: #c00;
}


item:hover > navigation[type="sub-menu"] {
	top: 1.4em;
	left: 0;
}
	
	