root, document, section, info {
	display: block;
}

root {
	background: #fff;
	color: #000;

}

root, document, section {
	height: 100%;
	min-height: 100%;
}

document {
	position: relative;
}

info {
	background-color: green;
	color: #fff;
	font-weight: bold;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}