root, document, info, list, item {
	display: block;
}

root {
	background: white;
	color: black;
}

document {
	margin: 0.5em;
}

info {
	margin: 1em 0;
}

list {
	margin-left: 2.5em;
}


list[level="first"] {
	counter-reset: first;
}

list[level="first"] > item:before {
	counter-increment: first;
	content: counter(first)". ";
}

list[level="second"] {
	counter-reset: second;
}

list[level="second"] > item:before {
	counter-increment: second;
	content: counter(first)". " counter(second)" ";
}

list[level="third"] {
	counter-reset: third;
}

list[level="third"] > item:before {
	counter-increment: third;
	content: counter(first)"."counter(second)"."counter(third)" ";
}

list[level] > item[class="none"]:before {
	content: " ";
}