@namespace p  "http://www.ns.com/ns/Product";

/* @date November 15, 2008
   @time 10:35 AM  */

p|Product * {
	display: block;
}

p|Code {
	color: green;
	font-weight: bold;
}

p|Price {
   color: purple;
	font-weight: bold;
}




