@namespace "http://www.ns.com/ns/Order";
@namespace product "http://www.ns.com/ns/Product";
@namespace client "http://www.ns.com/ns/Client";

Order {
	display: block;
	background-color: silver;
}

Order product|Product,
Order client|Client{
	display: block;
	border: thick solid green;
}


product|Code,
product|Price {
	font-weight: bold;
	color: green;
}

client|Code,
client|Name,
client|Address {
	font-style: italic;
	color: blue;
}
