root, document, info {
	display: block;
}

root {
	background: white;
	color: black;
}

document {
	margin: 0.5em;
}

info {
	margin: 1em 0;
}

data {
	display: table;
	border-collapse: collapse;
	border: 2px solid;
	table-layout: fixed;
	width: 400px;
}

row {
	display: table-row;
}

title {
	display: table-caption;
	text-align: center;
	font-weight: bold;
}

head, entry {
	display: table-cell;
	border: 1px solid #000;
	width: 100px;
	padding: 5px;
}

head {
	font-weight: bold;
}

row[class="odd"] {
	background-color: yellow;
}