<!DOCTYPE html>
<html>
  <head>
    <title>This page reports back it's request details to the parent frame</title>
  </head>
  <body>
    <script>
      function getQueryVariable(variable)
      {
             var query = window.location.search.substring(1);
             var vars = query.split("&");
             for (var i=0;i<vars.length;i++) {
                     var pair = vars[i].split("=");
                     if(pair[0] == variable){return pair[1];}
             }
             return(false);
      }

      var referrer = document.referrer.length > 0 ? document.referrer : undefined;

      var result = {
        location: document.location.toString(),
        referrer: referrer,
        headers: %(headers)s
      };
      var xhr = new XMLHttpRequest();
      xhr.open('POST', 'stash.py?id=' + getQueryVariable("id"), false);
      xhr.send(JSON.stringify(result));

    </script>
  </body>
</html>
