.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 100px;
  grid-template-rows: 100px;
}
.container {
  position: relative;
  grid-area: 1 / 1;
}
.box1 {
  position: absolute;
  width: 100px;
  height: 100px;
  grid-area: 1 / 1;
}
.box-abspos {
  position: absolute;
  width: 100%;
  height: 100%;
}
.box-fixpos {
  position: fixed;
  width: 100px;
  height: 100px;
}
.red {
  background: red;
}
.green {
  background: green;
}
