.root {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: #444;
  padding: 16px 12px;
  border-radius: 4px;
  min-width: fit-content;
  min-height: 56px;
  box-sizing: border-box;
}

.controls {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 16px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: none;
  border-radius: 50%;
  background: #333;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s;
  padding: 0;
  margin: 0;
}
button:active, button:focus  {
  background: #222;
  outline: none;
}

#play-pause-button::before {
  content: '\25B6'; 
  display: inline-block;
  margin-left: 4px;
  color: white;
  padding-top:4px;
}

#play-pause-button.playing::before {
  content: '';
  display: block;
  width: 14px;
  height: 14px;
  background: none;
  box-sizing: border-box;
  border-left: 6px solid #fff;
  border-right: 6px solid #fff;
  border-radius: 1px;
  margin-left: 0;
}

input[type="range"] {
  width: 250px;
  height: 10px;
  background-color: black;
  
  border-radius: 20%;
}



#position-duration-box {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 1.1em;
  min-width: 80px;
  margin: 0 8px;
  opacity: 0.85;

}
#position-duration-box .duration {
  color: #bbb;
}

#volume-switch {
  width: 32px;
  height: 32px;
  background: none;
  margin-left: 8px;
}
#volume-switch.volumeup::before {
  content: '\1F56A'; 
  font-size: 1.3em;
  color: #fff;
  display: inline-block; 
  transform: rotate(180deg);

}
#volume-switch.muted::before {
  content: '\1F507'; 
  font-size: 1.3em;
  color: #fff;
}
#volume-level {
  width: 90px;
  margin-left: 0;
}

/*#volume-level[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #888;
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  transition: background 0.2s, border 0.2s;
}*/
#volume-level[type="range"]:focus::-webkit-slider-thumb {
  border: 2px solid #fff;
}
#volume-level[type="range"]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #888;
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  transition: background 0.2s, border 0.2s;
}
#volume-level[type="range"]:focus::-moz-range-thumb {
  border: 2px solid #fff;
}
#volume-level[type="range"]::-ms-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #888;
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  transition: background 0.2s, border 0.2s;
}
#volume-level[type="range"]:focus::-ms-thumb {
  border: 2px solid #fff;
}

.fullscreen {
  display: none !important;
}

.hidden {
  display: none !important;
}

