[% PROCESS "suitedata.tmpl" %]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
 <head>
[% IF official %]
  <title>[% suites.$suite.title %]</title>
[% ELSE %]
  <title>Unofficial [% suites.$suite.title %]</title>
[% END %]
  <style type="text/css">
    @import "http://www.w3.org/StyleSheets/TR/base.css";
    @import "indices.css";
  </style>
 </head>
 <body>

[% INCLUDE index.content.tmpl %]

</body>
</html>
