[% refCompMap =
    { '==' => '=',
      '!=' => '&#x2260;'
    }
%]
[%  statusNames = {
      'dev' => {
        'title' => 'Development',
        'link'  => 'http://www.w3.org/Style/CSS/Test/#phase-pa' },
      'alpha' => {
        'title' => 'Alpha',
        'link'  => 'http://www.w3.org/Style/CSS/Test/#phase-alpha' },
      'beta' => {
        'title' => 'Beta',
        'link'  => 'http://www.w3.org/Style/CSS/Test/#phase-beta' },
      'rc' => {
        'title' => 'Release Candidate',
        'link'  => 'http://www.w3.org/Style/CSS/Test/#phase-rc' },
      'final' => {
        'title' => 'Final',
        'link'  => 'http://www.w3.org/Style/CSS/Test/#phase-fin' },
    }
%]
