#[link(name = "servo",
       vers = "0.1",
       uuid = "637ffc98-9058-471d-9de7-abfc49ef0549",
       url = "http://servo.org/")];

#[comment = "The Servo Parallel Browser Project"];
#[license = "MPL"];
#[crate_type = "lib"];

extern mod std;
extern mod azure;
extern mod js;
extern mod stb_image;
extern mod geom;
extern mod glut;
extern mod layers;
extern mod opengles;
extern mod http_client;
extern mod hubbub;
extern mod sharegl;

pub mod engine;

pub mod dom {
    pub mod bindings {
        pub mod document;
        pub mod element;
        pub mod utils;
        pub mod node;
        pub mod window;
    }
    pub mod document;
    pub mod element;
    pub mod event;
    pub mod node;
    pub mod cow;
    pub mod window;
}

pub mod content {
    pub mod content_task;
}

pub mod css {
    pub mod lexer;
    pub mod parser;
    pub mod parser_util;

    pub mod values;
    pub mod styles;
    pub mod resolve {
        pub mod apply;
        pub mod matching;
    }
}

pub mod layout {
    pub mod block;
    pub mod box;
    pub mod box_builder;
    pub mod context;
    pub mod debug;
    pub mod display_list_builder;
    pub mod flow;
    pub mod layout_task;
    pub mod inline;
    pub mod root;
    pub mod text;
    pub mod traverse;
}

pub mod gfx {
    pub mod geometry;
    pub mod surface;
    pub mod render_task;
    pub mod compositor;
    pub mod png_compositor;
    pub mod display_list;
    pub mod render_layers;
}

pub mod image {
    pub mod base;
    pub mod holder;
    pub mod encode {
        pub mod tga;
    }
}

pub mod html {
    pub mod lexer_util;
    pub mod hubbub_html_parser;
}

pub mod platform {
    pub mod base;
    pub mod osmain;
}

pub mod text {
    pub mod font;
    pub mod font_cache;
    pub mod glyph;
    pub mod native_font {
        #[cfg(target_os = "macos")]
        pub mod quartz_native_font;
        #[cfg(target_os = "linux")]
        pub mod ft_native_font;
    }
    pub mod shaper;
    pub mod text_run;
    pub mod util;
}

pub mod resource {
    pub mod resource_task;
    pub mod file_loader;
    pub mod http_loader;
    pub mod image_cache_task;
}

pub mod util {
    pub mod tree;
    pub mod color;
    pub mod time;
    pub mod url;
    pub mod vec;
}

pub mod opts;

use servo_util = util;
use servo_text = text;
