[submodule "tools/html5lib/html5lib/tests/testdata"]
	path = tools/html5lib/html5lib/tests/testdata
	url = https://github.com/html5lib/html5lib-tests.git
[submodule "resources/webidl2/test/widlproc"]
	path = resources/webidl2/test/widlproc
	url = https://github.com/dontcallmedom/widlproc.git