[submodule "resources"]
	path = resources
	url = https://github.com/w3c/testharness.js.git
	ignore = dirty
[submodule "tools"]
	path = tools
	url = https://github.com/w3c/wpt-tools.git
	ignore = dirty
[submodule "css/tools/apiclient"]
	path = css/tools/apiclient
	url = https://github.com/w3c/csswg-apiclient.git
[submodule "css/tools/w3ctestlib"]
	path = css/tools/w3ctestlib
	url = https://github.com/w3c/csswg-w3ctestlib.git
