[submodule "resources"]
	path = resources
	url = https://github.com/w3c/testharness.js.git
	ignore = dirty
[submodule "tools"]
	path = tools
	url = https://github.com/w3c/wpt-tools.git
	ignore = dirty