*#
*.py[co]
*.sw[po]
*~
MANIFEST.json
!content-security-policy/support/manifest.json
!payment-handler/manifest.json
\#*
_certs
.virtualenv
config.json
node_modules
scratch
testharness_runner.html
webdriver/.idea
.vscode/
.DS_Store
*.rej
_venv
webdriver/.cache
