<!DOCTYPE html>
<html>
<head>
<title>HTML Templates: 'In table' insertion mode: ignore TABLE end tag</title>
<meta name="author" title="Sergey G. Grekhov" href="mailto:sgrekhov@unipro.ru">
<meta name="assert" content="If parser is in 'in table' insertion mode and end tag table is met the ignore this token">
<link rel="help" href="http://www.w3.org/TR/2013/WD-html-templates-20130214/#in-table-addition">
<script src="/resources/testharness.js"></script>
<script src="/resources/testharnessreport.js"></script>
<script src="/html/resources/common.js"></script>
</head>
<body>
<div id="log"></div>
<script type="text/javascript">


test(function () {
    var doc = newHTMLDocument();

    doc.body.innerHTML = '<table id="table">'
        + '<template id="template">'
        + '</table>'
        + '</template>'
        + '<tr><td></td></tr>'
        + '</table>';

    var table = doc.querySelector('#table');
    var template = table.querySelector('#template');

    assert_equals(table.childNodes.length, 2, 'Wrong number of table children');
    assert_not_equals(template, null, 'Template element must be parsed');
    assert_equals(table.rows.length, 1, 'Wrong number of table rows');
    assert_equals(template.childNodes.length, 0, 'Wrong number of the template child nodes');
    assert_equals(template.content.childNodes.length, 0,
            'Wrong number of the template child nodes');


}, 'In table insertion mode. Ignore </table> token');

</script>
</body>
</html>
