/* We should use `content-visibility` but it is yet to be implemented.
 * These rule would not comply with ::details-content and should be removed
 * with it's implementation */
slot:not([name]) {
  display: none;
}
:host([open]) slot:not([name]) {
  display: block;
}

summary[name=internal-fallback-summary] {
  display: list-item;
  counter-increment: list-item 0;
  list-style: disclosure-closed inside;
}
:host([open]) summary[name=internal-fallback-summary] {
  list-style-type: disclosure-open;
}
