html, body {
	height: 100%;
	margin: 0;
}
body {
	background-color: #121619;
	width: 100%;
	padding: 0;
	display: flex;
	flex-flow: column;
}
header {
	background-color: #363636;
	color: #52eb7d;
	margin: 0;
	padding: 0.2em 0.5em;
	flex: 0 1 auto;
}
header > h1 {
	text-decoration: none;
	margin: 0;
}
header > h1 > span.path {
	display: block;
	font-family: monospace;
}
h1 {
	text-align: center;
	text-decoration: underline;
}
div.directory_info {
	margin: 1em auto;
	padding: 0;
	text-align: center;
	font-size: medium;
	flex: 1 1 auto;
}
div.parent_link {
	max-width: 40em;
	background-color: #1dd5eb;
	color: black;
	font-family: monospace;
	margin: 0.2em auto;
	padding: 0.3em;
	border-radius: 0.3em;
}
div.parent_link a, div.parent_link a:visited {
	color: black;
	font-weight: bold;
}
div.empty_notice {
	max-width: 40em;
	background-color: white;
	color: black;
	font-family: monospace;
	margin: 0.2em auto;
	padding: 0.3em;
	border-radius: 0.3em;
}
div.listing {
	max-width: 40em;
	background-color: white;
	font-family: monospace;
	margin: 0.2em auto;
	padding: 0.1em;
}
div.row {
	margin: 0.2em;
	padding: 0.3em;
	border-radius: 0.3em;
	color: black;
}
div.row {
	background-color: #abf428;
}
div.row a, div.row a:visited {
	color: black;
}
div.row.directory {
	background-color: #52eb7d;
}
div.row.symlink {
	background-color: #fff310;
}
div.name {
	display: block;
	font-weight: bold;
	font-size: normal;
}
div.size, div.modified {
	display: inline;
	font-size: small;
}
div.size {
	margin-left: 1em;
}
div.modified {
	margin-left: 1em;
}
div.parent_link:before {
	content: "⇧ ";
}
div.directory > div.name:before {
	content: "📁 ";
}
div.directory > div.size {
	visibility: hidden;
}
div.directory > div.size:before {
	content: "Directory";
	visibility: visible;
}
div.file > div.name:before {
	content: "📄 ";
}
div.symlink > div.name:before {
	content: "🔗 ";
}
div.size::before {
	content: "Size: ";
	font-weight: bold;
}
div.modified::before {
	content: "Modified: ";
	font-weight: bold;
}
div.modified time span.date.current {
	visibility: hidden;
	font-size: 1px;
}
div.modified time span.date.current::after {
	visibility: visible;
	font-size: small;
	content: "today";
	border: 1px green;
}
div.modified time span.year.current {
	display: none;
}
footer {
	background-color: #363636;
	color: white;
	flex: 0 1 1ex;
	text-align: right;
	padding: 0.2em 0.5em;
	margin: 0;
}
footer p {
	margin: 0;
}
