/*

https://html.spec.whatwg.org/multipage/#bidi-rendering

> When the document's character encoding is ISO-8859-8,
> the following rules are additionally expected to apply, following [user-agent.css]

*/

@namespace url(http://www.w3.org/1999/xhtml);


address, blockquote, center, div, figure, figcaption, footer, form, header, hr,
legend, listing, main, p, plaintext, pre, summary, xmp, article, aside, h1, h2,
h3, h4, h5, h6, hgroup, nav, section, table, caption, colgroup, col, thead,
tbody, tfoot, tr, td, th, dir, dd, dl, dt, menu, ol, ul, li, [dir=ltr i],
[dir=rtl i], [dir=auto i], *|* {
  unicode-bidi: bidi-override;
}
input:not([type=submit i]):not([type=reset i]):not([type=button i]),
textarea, keygen {
  unicode-bidi: normal;
}
