#include "winuser.h"

#define IDI_ICON 0x101
#define MENU_MAIN 0x201
#define MENU_NEW 0x202
#define MENU_EXIT 0x203

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "servo.exe.manifest"

IDI_ICON ICON "Servo.ico"

MENU_MAIN MENU {
    POPUP "&File" {
        MENUITEM "&New\tCtrl+N", MENU_NEW
        MENUITEM "E&xit", MENU_EXIT
    }
}
