@import "resource_timing_test0.css?label=initiator";

@font-face {
    font-family: remoteFont;
    src: url('/fonts/Ahem.ttf?label=initiator');
}
ol {
    font-family: remoteFont;
    list-style-image: url('blue.png?label=initiator');
}
