/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#[link(name = "style",
       vers = "0.1",
       uuid = "4a50ca00-3283-11e3-aa6e-0800200c9a66",
       url = "http://servo.org/")];

#[comment = "The Servo Parallel Browser Project"];
#[license = "MPL"];
#[crate_type = "lib"];


extern mod extra;
extern mod cssparser;
extern mod servo_util (name = "util");


// The "real" public API
pub use selector_matching::{Stylist, StylesheetOrigin};
pub use properties::{cascade, computed_values};
pub use properties::{PropertyDeclarationBlock,
                     parse_property_declaration_list};  // Style attributes

// Things that need to be public to make the compiler happy
pub mod stylesheets;
pub mod errors;
pub mod selectors;
pub mod selector_matching;
pub mod properties;
pub mod namespaces;
pub mod media_queries;
pub mod parsing_utils;

#[cfg(test)]
mod tests;
