html5lib==1.1
mozinfo==1.2.1  # https://bugzilla.mozilla.org/show_bug.cgi?id=1621226
mozlog==7.1.0
mozdebug==0.2
# Pillow 7 requires Python 3
pillow==6.2.2; python_version <= '2.7'  # pyup: <7.0
pillow==8.1.1; python_version >= '3.0'
urllib3[secure]==1.26.2
requests==2.25.1
six==1.15.0
