html5lib==1.0.1
mozinfo==1.2.1  # https://bugzilla.mozilla.org/show_bug.cgi?id=1621226
mozlog==6.0
mozdebug==0.2
# Pillow 7 requires Python 3
pillow==6.2.2  # pyup: <7.0
urllib3[secure]==1.25.9
requests==2.23.0
six==1.14.0
