html5lib==1.1
mozdebug==0.3.0
mozinfo==1.2.2  # https://bugzilla.mozilla.org/show_bug.cgi?id=1621226
mozlog==7.1.0
mozprocess==1.3.0
pillow==8.4.0
requests==2.27.1
six==1.16.0
urllib3[secure]==1.26.9
