.primary {
    border: 1px solid gray;
    border-radius: 8px;
}

.list-group-item {
  overflow-wrap: break-word;
}

#trace-tree {
  max-height: 80vh;
  overflow-y: auto;
}

.hidden-glyphicon {
  visibility:hidden;
}
