.primary {
    border: 1px solid gray;
    border-radius: 8px;
}

.list-group-item {
  overflow-wrap: break-word;
}

#trace-tree {
  max-height: 80vh;
  overflow-y: auto;
}

.hidden-glyphicon {
  visibility:hidden;
}

#toolbar {
  background: rgba(255,255,255,0.5);
  box-shadow: 0.5em 0.5em 2em lightgrey;
  position: fixed;
  top: 1em;
  right: 1em;
  padding: 1em;
  border-radius: 1em;
  font-weight: bold;
  text-align: right;
}
