span {
	background-color: #FF0000;
	font-weight: bold;
	color: red;
	font-family: Arial, Helvetica, sans-serif;
	}
.Ã½Ã¤Ã¨ {
	background-color: #00FF00;
	font-weight: bold;
	color: #00FF00;
	font-family: Arial, Helvetica, sans-serif;
	}
