@import url(cascade-import-002i.css);
.j { color: green; }
.k { color: red; }
.l { color: red; }
.m { color: red; }
.n { color: red; }
.o { color: red; }
.p { color: red; }
.q { color: red; }
.r { color: red; }
