#user-stylesheet-indication
{
    /* Used by the harness to display and indication there is a user-stylesheet applied */
    display: block!important;
}
#cascade
{
    /* Used by the test to hide the prerequsite */
    display: none;
}
.cascadered
{
    color: red;
}
.cascadegreen
{
    color: green;
}
.cascadegreenimportant
{
    color: green!important;
}