#user-stylesheet-indication
{
    /* Used by the harness to display and indication there is a user-stylesheet applied */
    display: block!important;
}
#htmlPrecedence003
{
    /* Used by the test to hide the prerequsite */
    display: none;
}
*
{
    color: red;
}
font
{
    text-decoration: underline;
}