-r requirements.txt

# We support a Genshi treewalker that can be used to serialize Genshi
# streams.
genshi

# DATrie can be used in place of our Python trie implementation for
# slightly better parsing performance.
datrie

# charade can be used as a fallback in case we are unable to determine
# the encoding of a document.
charade
