test {display: block;
      color: black;}
tim {display: block;
     color: blue;}
para1 {display: block;
      margin-top: 0.5in;
      margin-bottom: 0.5in;
      color: red;}
para2 {display: block;
      color: green;}
