@font-face {
    font-family: "WOFF Test CFF Fallback";
    src: url("SFNT-CFF-Fallback.otf") format("opentype");
}

@font-face {
    font-family: "WOFF Test CFF Reference";
    src: url("SFNT-CFF-Reference.otf") format("opentype");
}

@font-face {
    font-family: "WOFF Test TTF Fallback";
    src: url("SFNT-TTF-Fallback.ttf") format("truetype");
}

@font-face {
    font-family: "WOFF Test TTF Reference";
    src: url("SFNT-TTF-Reference.ttf") format("truetype");
}
