.fake-interest-button {
  position: absolute;
  position-anchor: auto;
  position-area: inline-end;
  color: inherit;
  background-color: transparent;
  box-sizing: border-box;
  min-inline-size: 24px;
  min-block-size: max(24px, 1lh);
  margin-block: min(-24px, -1lh);
  align-content: center;
  text-align: center;
  user-select: none;
  cursor: help;
}

.fake-interest-button:hover {
  background-color: color-mix(currentColor 10%, transparent);
}

.fake-interest-button:active {
  background-color: color-mix(currentColor 20%, transparent);
}

