<!DOCTYPE html>
<script src="../resources/runner.js"></script>
<script src="resources/line-layout-perf-test.js"></script>
<style>
#container {
  width: 400px;
  white-space: nowrap;
}
</style>
<body onload="run()">
<div id="container"></div>
<script>
'use strict';

function run() {
  var test = new LineLayoutPerfTest(container);
  test.spanCount = 10;
  test.lineCount = 100;
  test.wordSeparator = '  '; // Make all word separators collapsible.
  test.run('Measures performance of "white-space: nowrap" with multiple spans and collapsible spaces.');
}
</script>
</body>
