/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#[link(name = "servo_gfx",
       vers = "0.1",
       uuid = "0106bb54-6ea9-45bf-a39e-a738621f15e5",
       url = "http://servo.org/")];
#[crate_type = "lib"];

extern mod azure;
extern mod geom;
extern mod http_client;
extern mod stb_image;
extern mod std;
extern mod servo_util (name = "servo_util");

pub use gfx_font = font;
pub use gfx_font_context = font_context;
pub use gfx_font_list = font_list;
pub use servo_gfx_font = font;
pub use servo_gfx_font_list = font_list;

priv mod render_context;

// Rendering
pub mod color;
pub mod compositor;
pub mod display_list;
pub mod geometry;
pub mod render_layers;
pub mod render_task;
pub mod surface;

// Fonts
pub mod font;
pub mod font_context; 
pub mod font_list;

// Misc.
pub mod opts;

// Pub-uses for multiple implementations. Platform selection happens in
// font.rs, font_list.rs, font_context.rs
pub mod native;

#[cfg(target_os = "macos")]
pub mod quartz {
    pub mod font;
    pub mod font_context;
    pub mod font_list;
}

#[cfg(target_os = "linux")]
pub mod freetype_impl {
    pub mod font;
    pub mod font_context;
}

#[cfg(target_os = "linux")]
pub mod fontconfig {
    pub mod font_list;
}

// Images
pub mod image {
    pub mod base;
    pub mod encode {
        pub mod tga;
    }
    pub mod holder;
}

// Text
#[path = "text/mod.rs"]
pub mod text;

// FIXME: Blech. This does not belong in the GFX module.
pub mod resource {
    pub mod file_loader;
    pub mod http_loader;
    pub mod image_cache_task;
    pub mod local_image_cache;
    pub mod resource_task;
    pub mod util;
}

