
    * { color: red; display: block; margin: 0; padding: 0; }
    style { color: black; margin-top: 1em; white-space: pre; }

    testA > :not(testA) { color: green; }
    * > * :not(testB):not(item) { color: green; }
    testC :not([testC]) { color: green; }
    :not(testD) [testD] { color: green; }
    .test:not(head) testE { color: green; }
    *:not([test="testF"]) testF { color: green; }
