<?xml version="1.0" encoding="utf-8"?>
<!-- BEGIN_INCLUDE(manifest) -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.mozilla.servo">
    <application>
        <activity android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:enableVrMode="@string/gvr_vr_mode_component"
            android:resizeableActivity="false">
            <!-- Intent filter that enables this app to be launched from the
Daydream Home menu. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.google.intent.category.DAYDREAM"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
    <!-- END_INCLUDE(manifest) -->
