<?xml version="1.0" encoding="utf-8"?>
<!-- BEGIN_INCLUDE(manifest) -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto"
        package="org.mozilla.servo">
    <application android:label="Servo">
        <activity android:name=".MainActivity"
                  android:label="Servo">
            <meta-data android:name="android.app.lib_name" android:value="servo" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.google.intent.category.LAUNCHER"/>
                <category android:name="com.google.intent.category.DAYDREAM"/>
                <category android:name="com.google.intent.category.CARDBOARD"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
<!-- END_INCLUDE(manifest) -->
