<!doctype html>
<link rel="help" href="https://bugzilla.mozilla.org/show_bug.cgi?id=1706939">
<link rel="match" href="svg-use-symbol-width-print-ref.html">
<link rel="author" title="Emilio Cobos Álvarez" href="mailto:emilio@crisal.io">
<link rel="author" title="Mozilla" href="https://mozilla.org">
<style>
 body { margin: 0 }
</style>
<!-- Should see a blue square inside the top left quarter of a purple square -->
<svg width=200 height=200 viewbox="0 0 200 200">
  <defs>
    <symbol id="r" viewBox="0 0 200 200">
      <rect fill="blue" x=0 y=0 width=100 height=100 />
    </symbol>
  </defs>
  <rect fill="purple" x=0 y=0 width=100 height=100 />
  <use href="#r" width="100" height="100" x="0" y="0" />
</svg>
