<!doctype html>
<link rel="help" href="https://bugzilla.mozilla.org/show_bug.cgi?id=1843883">
<link rel="match" href="svg-use-symbol-opacity-print-ref.html">
<html>
<head>
<style>
 body { margin: 0 }
</style>
</head>
<body>
<!-- Should see a semi-transparent blue square inside the top left quarter of a purple square -->
<svg width=200 height=200 viewBox="0 0 200 200">
  <defs>
    <symbol id="r" viewBox="0 0 200 200">
      <rect fill="blue" width=100 height=100>
        <set attributeName="fill-opacity" to="0.5" fill="freeze"/>
      </rect>
    </symbol>
  </defs>
  <rect fill="purple" width=100 height=100 />
  <use href="#r" width="100" height="100" />
</svg>
</body>
</html>
