body {
    font-family: variable_axes, sans-serif;
    font-size: 80px;
}

#stretch_style_weight_1 {
    font-stretch: 50%;
    font-style: oblique -90deg;
    font-weight: 100;
}

#stretch_style_weight_2 {
    font-stretch: 62.50%;
    font-style: oblique -67.5deg;
    font-weight: 200;
}

#stretch_style_weight_3 {
    font-stretch: 75%;
    font-style: oblique -45deg;
    font-weight: 300;
}

#stretch_style_weight_4 {
    font-stretch: 87.50%;
    font-style: oblique -20deg;
    font-weight: 400;
}

#stretch_style_weight_5 {
    font-stretch: 100%;
    font-style: oblique 0deg;
    font-weight: 500;
}

#stretch_style_weight_6 {
    font-stretch: 112.50%;
    font-style: oblique 20deg;
    font-weight: 600;
}

#stretch_style_weight_7 {
    font-stretch: 125%;
    font-style: oblique 45deg;
    font-weight: 700;
}

#stretch_style_weight_8 {
    font-stretch: 150%;
    font-style: oblique 67.5deg;
    font-weight: 800;
}

#stretch_style_weight_9 {
    font-stretch: 200%;
    font-style: oblique 90deg;
    font-weight: 900;
}

