/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#[link(name = "gfx",
       vers = "0.1",
       uuid = "0106bb54-6ea9-45bf-a39e-a738621f15e5",
       url = "http://servo.org/")];
#[crate_type = "lib"];

extern mod azure;
extern mod geom;
extern mod http_client;
extern mod stb_image;
extern mod std;
extern mod servo_net (name = "net");
extern mod servo_util (name = "util");
extern mod servo_msg (name = "msg");

// Eventually we would like the shaper to be pluggable, as many operating systems have their own
// shapers. For now, however, this is a hard dependency.
extern mod harfbuzz;

// Linux-specific library dependencies
#[cfg(target_os="linux")] extern mod fontconfig;
#[cfg(target_os="linux")] extern mod freetype;

// Mac OS-specific library dependencies
#[cfg(target_os="macos")] extern mod core_foundation;
#[cfg(target_os="macos")] extern mod core_graphics;
#[cfg(target_os="macos")] extern mod core_text;

pub use gfx_font = font;
pub use gfx_font_context = font_context;
pub use gfx_font_list = font_list;
pub use servo_gfx_font = font;
pub use servo_gfx_font_list = font_list;

priv mod render_context;

// Rendering
pub mod color;
pub mod display_list;
pub mod geometry;
pub mod render_task;
pub mod surface;

// Fonts
pub mod font;
pub mod font_context; 
pub mod font_list;

// Misc.
pub mod opts;

// Platform-specific implementations.
#[path="platform/mod.rs"]
pub mod platform;

// Text
#[path = "text/mod.rs"]
pub mod text;

