/* This makes the scrollbars visible on mac, both to humans and screenshots.*/

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar-track {
    background-color: #eee;
    border-radius: 8px;
}
