.css-is-awesome {
  contain:paint;
  width:3.2rem;
  border:.1rem solid black;
  border-radius:.5rem;
  padding:.2rem;
  background:linear-gradient(45deg,rgb(240 176 176),rgb(176 240 240));
  font-family:sans-serif;
}
.css-is-awesome::before {
  content: "CSS IS AWESOME";
}
.draw-element-wrapper {
  width: max-content;
  box-sizing: border-box;
  background-color: white;
  will-change: transform;
}
