/* These are UA styles for select and stylable select. */

.stylable-select-container {
  box-sizing: border-box;
  display: inline-block;
}

.stylable-select-datalist {
  box-shadow: 0px 12.8px 28.8px rgba(0, 0, 0, 0.13), 0px 0px 9.2px rgba(0, 0, 0, 0.11);
  box-sizing: border-box;
  overflow: auto;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25em;
  padding-block: 0.25em;
  padding-inline: 0;
  background-color: Field;
  margin: 0;
  inset: auto;
  min-inline-size: anchor-size(self-inline);
  min-block-size: 1lh;
  inset-block-start: anchor(self-end);
  inset-inline-start: anchor(self-start);

  font-family: Arial;
  font-size: 13.3333px;
}

/* These are the UA styles for <option> in chromium.
 * They will either have to be specced or also added to the main test file.
 * TODO(crbug.com/1511354): Spec these UA styles. */
.stylable-select-option {
  padding-inline: 2px;
  padding-block-start: 0;
  padding-block-end: 1px;
  white-space: nowrap;
  min-inline-size: 24px;
  min-block-size: max(24px, 1.2em);
  align-content: center;
}

.stylable-select-option::before {
  content: '\2713' / '';
}
.stylable-select-option:not(.selected)::before {
  visibility: hidden;
}

.stylable-select-button {
  color: FieldText;
  background-color: Field;
  appearance: none;
  padding: 0.25em;
  border: 1px solid ButtonBorder;
  cursor: default;
  text-align: inherit;
  display: inline-flex;
  flex-grow: 1;
  flex-shrink: 1;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.stylable-select-button-icon {
  opacity: 1;
  outline: none;
  margin-inline-start: 0.25em;
  padding-block: 2px;
  padding-inline: 3px;
  block-size: 1.0em;
  inline-size: 1.2em;
  min-inline-size: 1.2em;
  max-inline-size: 1.2em;
  display: block;

  color: light-dark(black, white);
  stroke: currentColor;
  stroke-width: 3;
  stroke-linejoin: round;
}

.stylable-select-selectedoption {
  color: inherit;
  min-inline-size: 0px;
  max-block-size: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  display: inline;
}
