<!DOCTYPE html>
%(generated_disclaimer)s
<html>
  <head>
    <title>Mixed-Content: %(spec_title)s</title>
    <meta charset='utf-8'>
    <meta name="description" content="%(spec_description)s">
    <link rel="author" title="Kristijan Burnik" href="burnik@chromium.org">
    <link rel="help" href="%(spec_specification_url)s">
    <meta name="assert" content="%(test_description)s">
    <script src="/resources/testharness.js"></script>
    <script src="/resources/testharnessreport.js"></script>
    <script src="/mixed-content/generic/common.js"></script>
    <script src="/mixed-content/generic/mixed-content-test-case.js?pipe=sub"></script>
  </head>
  <body>
    <script>%(test_js)s</script>
    <div id="log"></div>
  </body>
</html>
