[run]
omit = 
    # standlonetemplate is read dynamically and tested by test_genscript
    *standalonetemplate.py
    # oldinterpret could be removed, as it is no longer used in py26+
    *oldinterpret.py
    vendored_packages
