include CHANGELOG.rst
include LICENSE
include AUTHORS

include README.rst
include CONTRIBUTING.rst

include tox.ini
include setup.py

include .coveragerc

include plugin-test.sh
include requirements-docs.txt
include runtox.py

recursive-include bench *.py
recursive-include extra *.py

graft testing
graft doc

exclude _pytest/impl

graft _pytest/vendored_packages

recursive-exclude * *.pyc *.pyo

exclude appveyor/install.ps1
exclude appveyor.yml
exclude appveyor

exclude ISSUES.txt
exclude HOWTORELEASE.rst
