.customizable-select-in-page {
  display: inline-block;
  overflow-inline: auto;
  overflow-block: auto;
}

.customizable-select-in-page.disabled {
  color: color-mix(in lab, currentColor 50%, transparent);
}

.customizable-select-in-page:not(.disabled) .customizable-select-legend.disabled {
  color: color-mix(in lab, currentColor 50%, transparent);
}
