.rotate {
    transform: rotate(90deg);
}

.rotate-3-args {
    transform: rotate(90deg,20px,20px);
}

.translateY {
    transform: translateY(-100px);
}

.invalid {
    transform: scale(invalid);
}

.rotate-3-args {
    transform: rotate(90deg,20px,20px);
}