#source
{
    flow-into: content;
}
#region
{
    flow-from: content;
}
#start-select
{
    background-color: orange;
}
#end-select
{
    background-color: blue;
}
.select-point
{
    width: 15px;
    height: 15px;
    display: inline-block;
}
