<!DOCTYPE html>
<body>
<script src="../../resources/runner.js"></script>
<script>
var test800 = PerfTestRunner.loadFile("./resources/MultipleShapesWidth800.html");
var test600 = PerfTestRunner.loadFile("./resources/MultipleShapesWidth600.html");
var test400 = PerfTestRunner.loadFile("./resources/MultipleShapesWidth400.html");

PerfTestRunner.measureTime({run: function() {
    var iframe = document.createElement("iframe");

    iframe.style.height = '600px';
    document.body.appendChild(iframe);
    iframe.contentDocument.open();
    iframe.contentDocument.write(test800);
    iframe.contentDocument.close();
    iframe.style.width = '800px';
    PerfTestRunner.forceLayout();
    document.body.removeChild(iframe);

    var iframe2 = iframe.cloneNode();
    iframe2.style.height = '600px';
    document.body.appendChild(iframe2);
    iframe2.contentDocument.open();
    iframe2.contentDocument.write(test600);
    iframe2.contentDocument.close();
    iframe2.style.width = '600px';
    PerfTestRunner.forceLayout();
    document.body.removeChild(iframe2);

    var iframe3 = iframe.cloneNode();
    iframe3.style.height = '600px';
    document.body.appendChild(iframe3);
    iframe3.contentDocument.open();
    iframe3.contentDocument.write(test400);
    iframe3.contentDocument.close();
    iframe3.style.width = '400px';
    PerfTestRunner.forceLayout();
    document.body.removeChild(iframe3);

}});
</script>
</body>
