test {display: block;
      background-color: green;
      color: black;}
tim {display: block;
     background-color: lime;
     color: blue;}
para1 {display: block;
      background-color: aqua;
      margin-top: 0.5in;
      margin-bottom: 0.5in;
      color: red;}
para2 {display: block;
      background-color: gray;
      color: green;}
