test {display: block;
      border-color: silver; border-style: solid;}
tim {display: block;
     border-color: lime; border-style: solid;}
para1 {display: block;
      margin-top: 0.5in;
      margin-bottom: 0.5in;
      border-color: red; border-style: solid;}
para2 {display: block;
      border-color: green; border-style: dotted;}
