<Files ~ "^plaintext.css$">
ForceType text/plain
</Files>

<files character-encoding-031.css>
AddCharset iso-8859-1 .css
</files>

<files character-encoding-032.css>
AddCharset iso-8859-11 .css
</files>

<files character-encoding-033.css>
AddCharset iso-8859-5 .css
</files>

<files character-encoding-034.css>
AddCharset iso-8859-6 .css
</files>

<files character-encoding-035.css>
AddCharset iso-8859-7 .css
</files>

<files character-encoding-036.css>
AddCharset iso-8859-8 .css
</files>

<files character-encoding-037.css>
AddCharset koi8-r .css
</files>

<files ~ '^at-charset-07[1234567]\.css$'>
RemoveCharset .css
</files>

<files character-encoding-041.css>
AddCharset utf-16be .css
</files>

