/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#[link(name = "util",
       vers = "0.1",
       uuid = "48421f49-17cf-41c5-a68e-ff669ff2ecd5",
       url = "http://servo.org/")];
#[crate_type = "lib"];

#[feature(macro_rules, managed_boxes)];

extern mod extra;
extern mod geom;

pub mod cache;
pub mod geometry;
pub mod range;
pub mod slot;
pub mod time;
pub mod url;
pub mod vec;
pub mod debug;
pub mod io;
