/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#[crate_id = "github.com/mozilla/servo#util:0.1"];
#[crate_type = "lib"];

#[feature(macro_rules, managed_boxes)];

extern mod extra;
extern mod geom;

pub mod cache;
pub mod geometry;
pub mod range;
pub mod time;
pub mod url;
pub mod vec;
pub mod debug;
pub mod io;
pub mod task;
