body {
    padding: 0;
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 4px;
}

.search {
    height: 24px;
    width: calc(100% - 6px);
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 6px;
    padding: 4px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 0;
}

tr:nth-child(2n) {
    background-color: #f0f0f0;
}

.value-editor {
    margin: 2px;
    padding: 2px;
}

.switch-button {
    margin: 2px;
    padding: 2px;
    border-radius: 4px;
    background: #cfcfcf;
    border: 0;
}

.icon {
    width: 24px;
    height: 24px;
}

.hidden {
    display: none;
}

.default {
    font-weight: bold;
}
