/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/. */

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  margin-bottom: 1em;
  width: 25vw;
}

form {
  margin: 1em;
  display: flex;
  justify-items: center;
  gap: 1.0em;
}

input {
  border-width: 0;
  border-radius: 5px;
  height: 2.5em;
  width: 50vw;
  text-indent: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

/* This should not be needed but paper over missing default styles */
button {
  padding-inline: 8px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  /* Servo has trouble with button styling */
  display: flex;
  justify-items: center;
  align-items: center;
  line-height: 1;
}

button:hover {
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
}

:root {
  --theme-color-primary: #1191e8;
  --theme-color-secondary: #42bf64;
}

/* These link colors work well for both light and dark mode */
a {
  color: var(--theme-color-primary);
}

a:hover {
  color: var(--theme-color-secondary);
}

@media (prefers-color-scheme: light) {
  .dark {
    display: none;
  }

  body {
    background: #f9f9f9;
  }

  input {
    background-color: white;
  }

  button {
    background-color: var(--theme-color-secondary);
    color: white;
  }

  button:hover {
    background-color: #3baa59;
  }
}

@media (prefers-color-scheme: dark) {
  .light {
    display: none;
  }

  body {
    background-color: #121619;
    color: hsl(0, 0%, 96%);
  }

  input {
    background-color: #333;
    color: white;
  }

  button {
    background-color: #333;
    color: var(--theme-color-secondary);
  }

  button:hover {
    background-color: #292929;
  }
}
