# People who've changed name:

# Sam Sneddon:
Sam Sneddon <me@gsnedders.com>
Sam Sneddon <me@gsnedders.com> <geoffers@gmail.com>

# Theresa O'Connor:
Theresa O'Connor <eoconnor@apple.com>
Theresa O'Connor <hober0@gmail.com>
