# Require review for changes that often need an RFC
/resources/testdriver* @web-platform-tests/wpt-core-team
/resources/testharness* @web-platform-tests/wpt-core-team

# Prevent accidentally touching tools/third_party
/tools/third_party/ @web-platform-tests/wpt-core-team

# Require a review for Dockerfile
tools/docker/Dockerfile @web-platform-tests/wpt-core-team @web-platform-tests/admins
.taskcluster.yml @web-platform-tests/wpt-core-team @web-platform-tests/admins

# Prevent accidentally touching wasm/core which is updated by a workflow
wasm/core/ @web-platform-tests/wpt-core-team
