# Require review for changes that often need an RFC
/resources/testdriver* @web-platform-tests/wpt-core-team
/resources/testharness* @web-platform-tests/wpt-core-team

# Prevent accidentally touching tools/third_party
/tools/third_party/ @web-platform-tests/wpt-core-team
