<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="Servo Tech Demo"
           Manufacturer="The Servo Authors"
           UpgradeCode="060cd15d-eab1-4614-b438-3988e3efdcf1"
           Language="1033"
           Codepage="1252"
           Version="1.0.0">
    <Package Id="*"
             Keywords="Installer"
             Description="Servo Tech Demo Installer"
             Manufacturer="The Servo Authors"
             InstallerVersion="200"
             Platform="x64"
             Languages="1033"
             SummaryCodepage="1252"
             Compressed="yes"/>
    <MajorUpgrade AllowDowngrades="yes"/>
    <Media Id="1"
           Cabinet="Servo.cab"
           EmbedCab="yes"/>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder" Name="PFiles">
        <Directory Id="Servo" Name="Servo">
          <Directory Id="INSTALLDIR" Name="Servo Tech Demo">
            <Component Id="Servo"
                       Guid="95bcea71-78bb-4ec8-9766-44bc01443840"
                       Win64="yes">
              <File Id="ServoEXE"
                    Name="servo.exe"
                    DiskId="1"
                    Source="C:\Users\jschw\Dev\servo\target\release\servo.exe"
                    KeyPath="yes">
                <Shortcut Id="StartMenuServoTechDemo"
                          Directory="ProgramMenuDir"
                          Name="Servo Tech Demo"
                          WorkingDirectory="INSTALLDIR"
                          Icon="servo.exe"
                          Advertise="yes"/>
              </File>
	            
              <File Id="Idapi_ms_win_crt_runtime_l1_1_0dll"
                    Name="api-ms-win-crt-runtime-l1-1-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\api-ms-win-crt-runtime-l1-1-0.dll"
                    DiskId="1"/>
              <File Id="Idavcodec_59dll"
                    Name="avcodec-59.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\avcodec-59.dll"
                    DiskId="1"/>
              <File Id="Idavfilter_8dll"
                    Name="avfilter-8.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\avfilter-8.dll"
                    DiskId="1"/>
              <File Id="Idavformat_59dll"
                    Name="avformat-59.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\avformat-59.dll"
                    DiskId="1"/>
              <File Id="Idavutil_57dll"
                    Name="avutil-57.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\avutil-57.dll"
                    DiskId="1"/>
              <File Id="Idbz2dll"
                    Name="bz2.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\bz2.dll"
                    DiskId="1"/>
              <File Id="Idffi_7dll"
                    Name="ffi-7.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\ffi-7.dll"
                    DiskId="1"/>
              <File Id="Idgio_20_0dll"
                    Name="gio-2.0-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gio-2.0-0.dll"
                    DiskId="1"/>
              <File Id="Idglib_20_0dll"
                    Name="glib-2.0-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\glib-2.0-0.dll"
                    DiskId="1"/>
              <File Id="Idgmodule_20_0dll"
                    Name="gmodule-2.0-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gmodule-2.0-0.dll"
                    DiskId="1"/>
              <File Id="Idgobject_20_0dll"
                    Name="gobject-2.0-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gobject-2.0-0.dll"
                    DiskId="1"/>
              <File Id="Idgraphene_10_0dll"
                    Name="graphene-1.0-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\graphene-1.0-0.dll"
                    DiskId="1"/>
              <File Id="Idgstapp_10_0dll"
                    Name="gstapp-1.0-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstapp-1.0-0.dll"
                    DiskId="1"/>
              <File Id="Idgstappdll"
                    Name="gstapp.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstapp.dll"
                    DiskId="1"/>
              <File Id="Idgstaudio_10_0dll"
                    Name="gstaudio-1.0-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstaudio-1.0-0.dll"
                    DiskId="1"/>
              <File Id="Idgstaudiobuffersplitdll"
                    Name="gstaudiobuffersplit.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstaudiobuffersplit.dll"
                    DiskId="1"/>
              <File Id="Idgstaudioconvertdll"
                    Name="gstaudioconvert.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstaudioconvert.dll"
                    DiskId="1"/>
              <File Id="Idgstaudiofxdll"
                    Name="gstaudiofx.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstaudiofx.dll"
                    DiskId="1"/>
              <File Id="Idgstaudioparsersdll"
                    Name="gstaudioparsers.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstaudioparsers.dll"
                    DiskId="1"/>
              <File Id="Idgstaudioresampledll"
                    Name="gstaudioresample.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstaudioresample.dll"
                    DiskId="1"/>
              <File Id="Idgstautodetectdll"
                    Name="gstautodetect.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstautodetect.dll"
                    DiskId="1"/>
              <File Id="Idgstbase_10_0dll"
                    Name="gstbase-1.0-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstbase-1.0-0.dll"
                    DiskId="1"/>
              <File Id="Idgstcodecparsers_10_0dll"
                    Name="gstcodecparsers-1.0-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstcodecparsers-1.0-0.dll"
                    DiskId="1"/>
              <File Id="Idgstcontroller_10_0dll"
                    Name="gstcontroller-1.0-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstcontroller-1.0-0.dll"
                    DiskId="1"/>
              <File Id="Idgstcoreelementsdll"
                    Name="gstcoreelements.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstcoreelements.dll"
                    DiskId="1"/>
              <File Id="Idgstdeinterlacedll"
                    Name="gstdeinterlace.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstdeinterlace.dll"
                    DiskId="1"/>
              <File Id="Idgstdtlsdll"
                    Name="gstdtls.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstdtls.dll"
                    DiskId="1"/>
              <File Id="Idgstfft_10_0dll"
                    Name="gstfft-1.0-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstfft-1.0-0.dll"
                    DiskId="1"/>
              <File Id="Idgstgiodll"
                    Name="gstgio.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstgio.dll"
                    DiskId="1"/>
              <File Id="Idgstgl_10_0dll"
                    Name="gstgl-1.0-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstgl-1.0-0.dll"
                    DiskId="1"/>
              <File Id="Idgstid3demuxdll"
                    Name="gstid3demux.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstid3demux.dll"
                    DiskId="1"/>
              <File Id="Idgstid3tagdll"
                    Name="gstid3tag.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstid3tag.dll"
                    DiskId="1"/>
              <File Id="Idgstinterleavedll"
                    Name="gstinterleave.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstinterleave.dll"
                    DiskId="1"/>
              <File Id="Idgstisomp4dll"
                    Name="gstisomp4.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstisomp4.dll"
                    DiskId="1"/>
              <File Id="Idgstlibavdll"
                    Name="gstlibav.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstlibav.dll"
                    DiskId="1"/>
              <File Id="Idgstmatroskadll"
                    Name="gstmatroska.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstmatroska.dll"
                    DiskId="1"/>
              <File Id="Idgstnet_10_0dll"
                    Name="gstnet-1.0-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstnet-1.0-0.dll"
                    DiskId="1"/>
              <File Id="Idgstnicedll"
                    Name="gstnice.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstnice.dll"
                    DiskId="1"/>
              <File Id="Idgstoggdll"
                    Name="gstogg.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstogg.dll"
                    DiskId="1"/>
              <File Id="Idgstopengldll"
                    Name="gstopengl.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstopengl.dll"
                    DiskId="1"/>
              <File Id="Idgstopusdll"
                    Name="gstopus.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstopus.dll"
                    DiskId="1"/>
              <File Id="Idgstpbutils_10_0dll"
                    Name="gstpbutils-1.0-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstpbutils-1.0-0.dll"
                    DiskId="1"/>
              <File Id="Idgstplay_10_0dll"
                    Name="gstplay-1.0-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstplay-1.0-0.dll"
                    DiskId="1"/>
              <File Id="Idgstplaybackdll"
                    Name="gstplayback.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstplayback.dll"
                    DiskId="1"/>
              <File Id="Idgstplayer_10_0dll"
                    Name="gstplayer-1.0-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstplayer-1.0-0.dll"
                    DiskId="1"/>
              <File Id="Idgstproxydll"
                    Name="gstproxy.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstproxy.dll"
                    DiskId="1"/>
              <File Id="Idgstreamer_10_0dll"
                    Name="gstreamer-1.0-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstreamer-1.0-0.dll"
                    DiskId="1"/>
              <File Id="Idgstriff_10_0dll"
                    Name="gstriff-1.0-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstriff-1.0-0.dll"
                    DiskId="1"/>
              <File Id="Idgstrtp_10_0dll"
                    Name="gstrtp-1.0-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstrtp-1.0-0.dll"
                    DiskId="1"/>
              <File Id="Idgstrtpdll"
                    Name="gstrtp.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstrtp.dll"
                    DiskId="1"/>
              <File Id="Idgstrtpmanagerdll"
                    Name="gstrtpmanager.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstrtpmanager.dll"
                    DiskId="1"/>
              <File Id="Idgstrtsp_10_0dll"
                    Name="gstrtsp-1.0-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstrtsp-1.0-0.dll"
                    DiskId="1"/>
              <File Id="Idgstsctp_10_0dll"
                    Name="gstsctp-1.0-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstsctp-1.0-0.dll"
                    DiskId="1"/>
              <File Id="Idgstsdp_10_0dll"
                    Name="gstsdp-1.0-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstsdp-1.0-0.dll"
                    DiskId="1"/>
              <File Id="Idgsttag_10_0dll"
                    Name="gsttag-1.0-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gsttag-1.0-0.dll"
                    DiskId="1"/>
              <File Id="Idgsttheoradll"
                    Name="gsttheora.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gsttheora.dll"
                    DiskId="1"/>
              <File Id="Idgsttypefindfunctionsdll"
                    Name="gsttypefindfunctions.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gsttypefindfunctions.dll"
                    DiskId="1"/>
              <File Id="Idgstvideo_10_0dll"
                    Name="gstvideo-1.0-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstvideo-1.0-0.dll"
                    DiskId="1"/>
              <File Id="Idgstvideoconvertscaledll"
                    Name="gstvideoconvertscale.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstvideoconvertscale.dll"
                    DiskId="1"/>
              <File Id="Idgstvideofilterdll"
                    Name="gstvideofilter.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstvideofilter.dll"
                    DiskId="1"/>
              <File Id="Idgstvideoparsersbaddll"
                    Name="gstvideoparsersbad.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstvideoparsersbad.dll"
                    DiskId="1"/>
              <File Id="Idgstvolumedll"
                    Name="gstvolume.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstvolume.dll"
                    DiskId="1"/>
              <File Id="Idgstvorbisdll"
                    Name="gstvorbis.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstvorbis.dll"
                    DiskId="1"/>
              <File Id="Idgstvpxdll"
                    Name="gstvpx.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstvpx.dll"
                    DiskId="1"/>
              <File Id="Idgstwasapidll"
                    Name="gstwasapi.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstwasapi.dll"
                    DiskId="1"/>
              <File Id="Idgstwavparsedll"
                    Name="gstwavparse.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstwavparse.dll"
                    DiskId="1"/>
              <File Id="Idgstwebrtc_10_0dll"
                    Name="gstwebrtc-1.0-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstwebrtc-1.0-0.dll"
                    DiskId="1"/>
              <File Id="Idgstwebrtcdll"
                    Name="gstwebrtc.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstwebrtc.dll"
                    DiskId="1"/>
              <File Id="Idgstwebrtcnice_10_0dll"
                    Name="gstwebrtcnice-1.0-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\gstwebrtcnice-1.0-0.dll"
                    DiskId="1"/>
              <File Id="Idintl_8dll"
                    Name="intl-8.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\intl-8.dll"
                    DiskId="1"/>
              <File Id="Idlibcrypto_1_1_x64dll"
                    Name="libcrypto-1_1-x64.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\libcrypto-1_1-x64.dll"
                    DiskId="1"/>
              <File Id="IdlibEGLdll"
                    Name="libEGL.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\libEGL.dll"
                    DiskId="1"/>
              <File Id="IdlibGLESv2dll"
                    Name="libGLESv2.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\libGLESv2.dll"
                    DiskId="1"/>
              <File Id="Idlibjpeg_8dll"
                    Name="libjpeg-8.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\libjpeg-8.dll"
                    DiskId="1"/>
              <File Id="Idlibogg_0dll"
                    Name="libogg-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\libogg-0.dll"
                    DiskId="1"/>
              <File Id="Idlibpng16_16dll"
                    Name="libpng16-16.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\libpng16-16.dll"
                    DiskId="1"/>
              <File Id="Idlibssl_1_1_x64dll"
                    Name="libssl-1_1-x64.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\libssl-1_1-x64.dll"
                    DiskId="1"/>
              <File Id="Idlibvorbis_0dll"
                    Name="libvorbis-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\libvorbis-0.dll"
                    DiskId="1"/>
              <File Id="Idlibvorbisenc_2dll"
                    Name="libvorbisenc-2.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\libvorbisenc-2.dll"
                    DiskId="1"/>
              <File Id="Idlibwinpthread_1dll"
                    Name="libwinpthread-1.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\libwinpthread-1.dll"
                    DiskId="1"/>
              <File Id="Idmsvcp140dll"
                    Name="msvcp140.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\msvcp140.dll"
                    DiskId="1"/>
              <File Id="Idnice_10dll"
                    Name="nice-10.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\nice-10.dll"
                    DiskId="1"/>
              <File Id="Idopus_0dll"
                    Name="opus-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\opus-0.dll"
                    DiskId="1"/>
              <File Id="Idorc_04_0dll"
                    Name="orc-0.4-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\orc-0.4-0.dll"
                    DiskId="1"/>
              <File Id="Idpcre2_8_0dll"
                    Name="pcre2-8-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\pcre2-8-0.dll"
                    DiskId="1"/>
              <File Id="Idswresample_4dll"
                    Name="swresample-4.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\swresample-4.dll"
                    DiskId="1"/>
              <File Id="Idtheora_0dll"
                    Name="theora-0.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\theora-0.dll"
                    DiskId="1"/>
              <File Id="Idtheoradec_1dll"
                    Name="theoradec-1.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\theoradec-1.dll"
                    DiskId="1"/>
              <File Id="Idtheoraenc_1dll"
                    Name="theoraenc-1.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\theoraenc-1.dll"
                    DiskId="1"/>
              <File Id="Idvcruntime140dll"
                    Name="vcruntime140.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\vcruntime140.dll"
                    DiskId="1"/>
              <File Id="Idz_1dll"
                    Name="z-1.dll"
                    Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\z-1.dll"
                    DiskId="1"/>

            </Component>

            
<Directory Id="Idresources" Name="resources">
  <Component Id="Idresources"
             Guid="e22616fb-f444-4925-bc4e-0a06a0a7cee2"
             Win64="yes">
    <CreateFolder/>
    
    <File Id="Id_resources_about_memory.html"
          Name="about-memory.html"
          Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\resources\about-memory.html"
          DiskId="1"/>
    <File Id="Id_resources_android_params"
          Name="android_params"
          Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\resources\android_params"
          DiskId="1"/>
    <File Id="Id_resources_badcert.html"
          Name="badcert.html"
          Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\resources\badcert.html"
          DiskId="1"/>
    <File Id="Id_resources_cert_google_only"
          Name="cert-google-only"
          Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\resources\cert-google-only"
          DiskId="1"/>
    <File Id="Id_resources_cert_wpt_only"
          Name="cert-wpt-only"
          Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\resources\cert-wpt-only"
          DiskId="1"/>
    <File Id="Id_resources_crash.html"
          Name="crash.html"
          Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\resources\crash.html"
          DiskId="1"/>
    <File Id="Id_resources_Credits.rtf.mako"
          Name="Credits.rtf.mako"
          Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\resources\Credits.rtf.mako"
          DiskId="1"/>
    <File Id="Id_resources_debugger.js"
          Name="debugger.js"
          Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\resources\debugger.js"
          DiskId="1"/>
    <File Id="Id_resources_directory_listing.html"
          Name="directory-listing.html"
          Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\resources\directory-listing.html"
          DiskId="1"/>
    <File Id="Id_resources_gatt_blocklist.txt"
          Name="gatt_blocklist.txt"
          Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\resources\gatt_blocklist.txt"
          DiskId="1"/>
    <File Id="Id_resources_hsts_preload.fstmap"
          Name="hsts_preload.fstmap"
          Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\resources\hsts_preload.fstmap"
          DiskId="1"/>
    <File Id="Id_resources_iso_8859_8.css"
          Name="iso-8859-8.css"
          Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\resources\iso-8859-8.css"
          DiskId="1"/>
    <File Id="Id_resources_neterror.html"
          Name="neterror.html"
          Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\resources\neterror.html"
          DiskId="1"/>
    <File Id="Id_resources_org.servo.Servo.desktop"
          Name="org.servo.Servo.desktop"
          Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\resources\org.servo.Servo.desktop"
          DiskId="1"/>
    <File Id="Id_resources_package_prefs.json"
          Name="package-prefs.json"
          Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\resources\package-prefs.json"
          DiskId="1"/>
    <File Id="Id_resources_privatekey_for_testing.key"
          Name="privatekey_for_testing.key"
          Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\resources\privatekey_for_testing.key"
          DiskId="1"/>
    <File Id="Id_resources_public_domains.txt"
          Name="public_domains.txt"
          Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\resources\public_domains.txt"
          DiskId="1"/>
    <File Id="Id_resources_rippy.png"
          Name="rippy.png"
          Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\resources\rippy.png"
          DiskId="1"/>
    <File Id="Id_resources_self_signed_certificate_for_testing.crt"
          Name="self_signed_certificate_for_testing.crt"
          Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\resources\self_signed_certificate_for_testing.crt"
          DiskId="1"/>
    <File Id="Id_resources_servo.icns"
          Name="servo.icns"
          Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\resources\servo.icns"
          DiskId="1"/>
    <File Id="Id_resources_servo.ico"
          Name="servo.ico"
          Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\resources\servo.ico"
          DiskId="1"/>
    <File Id="Id_resources_servo.svg"
          Name="servo.svg"
          Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\resources\servo.svg"
          DiskId="1"/>
    <File Id="Id_resources_servo_1024.png"
          Name="servo_1024.png"
          Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\resources\servo_1024.png"
          DiskId="1"/>
    <File Id="Id_resources_servo_64.png"
          Name="servo_64.png"
          Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\resources\servo_64.png"
          DiskId="1"/>
    <File Id="Id_resources_wpt_prefs.json"
          Name="wpt-prefs.json"
          Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\resources\wpt-prefs.json"
          DiskId="1"/>
  </Component>

  
<Directory Id="Idresource_protocol" Name="resource_protocol">
  <Component Id="Idresource_protocol"
             Guid="809d5b28-9c24-4cfc-80b8-49c2f9dbf4e3"
             Win64="yes">
    <CreateFolder/>
    
    <File Id="Id_resources_resource_protocol_newtab.css"
          Name="newtab.css"
          Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\resources\resource_protocol\newtab.css"
          DiskId="1"/>
    <File Id="Id_resources_resource_protocol_newtab.html"
          Name="newtab.html"
          Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\resources\resource_protocol\newtab.html"
          DiskId="1"/>
    <File Id="Id_resources_resource_protocol_preferences.html"
          Name="preferences.html"
          Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\resources\resource_protocol\preferences.html"
          DiskId="1"/>
    <File Id="Id_resources_resource_protocol_servo_color_negative_no_container.png"
          Name="servo-color-negative-no-container.png"
          Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\resources\resource_protocol\servo-color-negative-no-container.png"
          DiskId="1"/>
  </Component>

</Directory>

  
<Directory Id="Iduser_agent_js" Name="user-agent-js">
  <Component Id="Iduser_agent_js"
             Guid="2d673558-3937-4c0a-b975-4bc26df45047"
             Win64="yes">
    <CreateFolder/>
    
    <File Id="Id_resources_user_agent_js_00.example.js"
          Name="00.example.js"
          Source="C:\Users\jschw\Dev\servo\target\release\msi\temp\resources\user-agent-js\00.example.js"
          DiskId="1"/>
  </Component>

</Directory>

</Directory>

          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="Servo Tech Demo">
          <Component Id="ProgramMenuDir" Guid="e04737ce-16eb-4977-9b4c-ed2db8a5a77d">
            <RemoveFolder Id="ProgramMenuDir" On="both"/>
            <RegistryValue Root="HKCU"
                           Key="Software\Servo\Servo Tech Demo"
                           Type="string"
                           Value=""
                           KeyPath="yes"/>
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="Complete" Level="1">
      <ComponentRef Id="Servo"/>
      <ComponentRef Id="Idresources"/>
      <ComponentRef Id="Idresource_protocol"/>
      <ComponentRef Id="Iduser_agent_js"/>
      <ComponentRef Id="ProgramMenuDir"/>
    </Feature>

    <Icon Id="servo.exe" SourceFile="C:\Users\jschw\Dev\servo\target\release\servo.exe"/>
  </Product>
</Wix>





