<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Bundle Name="Servo"
          Version="1.0"
          UpgradeCode="91b09c7e-6c0d-4166-b806-1dc724acf728">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />
    <Chain>
      <MsiPackage
          SourceFile="Installer.msi"
          Compressed="yes"
          DisplayName="Servo"
          ForcePerMachine="yes"/>
    </Chain>
  </Bundle>
</Wix>
