.test {
  width: 100px;
  height: 100px;
  background-color: blue;
  background-image: url("{{location[server]}}/css/css-values/urls/support/image-referrer-policy.py?expected_referrer=origin&origin={{location[server]}}/" referrer-policy(origin));
}
