root, document, info, svg {
	display: block;
}

root {
	background: white;
	color: black;
}

document {
	margin: 0.5em;
}

info {
	margin: 1em 0;
}

svg {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
}



text[id="css"] {
	font: 2em Arial, Helvetica, sans-serif;
	stroke: #999;
	fill: #666;
	stroke-width: 2px;
}

text[id="svg"] {
	font: 2em Georgia, serif;
	stroke: #999;
	fill: #666;
	stroke-width: 1px;
}