root, document, info {
	display: block;
}

root {
	background: white;
	color: black;
}

document {
	margin: 0.5em;
}

info {
	margin: 1em 0;
}

rect {
	fill: green;
	fill-opacity: 0.5;
	stroke: lime;
	stroke-width: 10px;
}